{% extend 'base.html' %}

{% block body %}
<header>
    <h1 class="title"> Select Style</h1>
</header>
<main class="selection-page">
    <section class="selection-page" id = "selection">
        <div class="btn-container">
            <button class="btn">
                <h2>Fantasy Story</h2>
                <p>Here is a description of a fantasy story.</p>
                <div class="gallery">
                  <img src="image1.jpg">
                  <img src="image2.jpg">
                  <img src="image3.jpg">
                </div>
            </button>
            <button class="btn">
                
            </button>
        </div>
    </section>
</main>
{% endblock %}