{% extends 'base.html' %}

{% block body %}
<header>
    <h1 class="title"> Select Style</h1>
</header>
<main class="selection-page">
    <section class="selection-page" id = "selection">
        <div class="btn-container bg-black">
            <div class="card-v2 rounded">
                <figure>
                  <img src="{{ url_for('static', filename = 'uploads/andy.png') }}" alt="Image description">
                  <figcaption class="card-v2__caption px-3 lg:px-5 pt-5 lg:pt-8 pb-3 lg:pb-5 text-center">
                    <div class="text-lg lg:text-xl">Card Title</div>
                    <div class="mt-1 lg:mt-1.5 text-sm lg:text-base opacity-70">Label</div>
                  </figcaption>
                </figure>
            </div>
        </div>
    </section>
</main>
{% endblock %}